@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, -20px, 0); }
  }


p{
    text-align: center
}
/* Navbar */

.nav-link{
    color:white
}
.navbar{
    padding: 20px 0
}

/* Parallaxes  */

.parallax {
	height: 100vh;
	margin: 0;
	
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-overlay{
    height:100%;
    width:100%;
    background-color: rgba(1, 96, 82,.7)
}



.fondo1{
    background-image: url("assets/des.jpeg");
    
}
.fondo2{
	background-image: url("http://cdn.wallpapersafari.com/22/85/kwGbHB.jpg");
	background-position: 50% 200px;
}

/* About Me */

#about-me{

    background-color:rgba(1, 96, 82,.9);
}

#about-me-text{
   padding-top:20px;
}

#about-me-text h2{
    margin-bottom: 20px
}

#about-me-text > h2,#about-me-text > p {
    color:rgba(1, 96, 82,1);
    text-align: center
}


#portfolio-text > p {
    color: darkgrey;
    text-align: center
}


#portfolio-text h2{
    margin: 40px 0;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-weight: bolder
}

#portfolio{
    background-color:rgba(236, 236, 236, 0.9);
    height: 1000px;
}

#ascent:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 90%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid rgb(165, 164, 164); /* This creates the border. Replace black with whatever color you want. */
}

#name, #me-background{
transition:.2s
}

#name{
    margin-bottom: 30px;
    font-size: 60px
}

#me-background{
    font-size: 25px
}
.fa-chevron-circle-down{
color:white;
margin-top:-90px;
animation: bounce 1s ;
animation-direction: alternate;
animation-iteration-count: infinite;
}

#ascent{
    height:400px;
}

.ascent-desc{
    color:grey
}
nav{
    transition: .2s
}
#ascent-title{
    margin-top: 30px;
}
#ascent-title:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 80%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid lightgray; /* This creates the border. Replace black with whatever color you want. */
}

#ascent-button{
    margin-bottom: 30px
}


